<div>
    <p>Welcome <strong th:text="${fullname}">name</strong>!</p>
<!--    <h3 th:text="#{message.regSuccess}"></h3>-->

    <a th:href="@{${url}}" type="button" class="btn btn-outline-primary"
       style="box-sizing: inherit;-ms-touch-action: manipulation;touch-action: manipulation;margin: 0;font-family: inherit;font-size: 1rem;line-height: 1.25;overflow: visible;text-transform: none;-webkit-appearance: button;display: inline-block;font-weight: 400;text-align: center;white-space: nowrap;vertical-align: middle;-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;border: 1px solid transparent;padding: .5rem .75rem;border-radius: .25rem;transition: all .15s ease-in-out;color: #007bff;background-color: transparent;background-image: none;border-color: #007bff;">
        Xác nhận
    </a>
</div>