<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Bad token</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <div class="row my-5">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div class="card text-center">
                <div class="card-body">
                    <h5 class="card-title" th:text="#{label.signup.success}">Đăng kí thành công</h5>

                    <div class="card-text">
                        <p th:text="#{label.signup.checkEmail}">Vui lòng kiểm email của bạn để xác nhận.</p>
                    </div>

                    <div class="card-footer text-muted">
                        <a th:href="@{/loginPage}" th:text="#{label.link.login}">signup</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>
</body>
</html>